doctype html
head
  include jade_01
body
    :markdown
      **markdown**
    h3 模板的继承
    block desc
    block desc
    mixin lesson
      p jade study
    mixin study(name,courses)
      p #{name}
      ul.courses
        each course in courses
          li =course



    +lesson
    +lesson
    +study('tom',['jade','node'])


    mixin attr(name)
      p(class!=attributes.class) #{name}

    +attr('attr')(class='magic')








    - var data='text';
    - var htmlData='<script>alert(1);</script><span>12</span>'
    p #{data}
    p #{htmlData}
    p !{htmlData}

    h2 声明变量和替换数据
    //h2 注释
    h1 hello world
    #id.title.title3.title2 你好

    a(href='')
    img(src='' alt='a' title='a')
    input(type='text',name='course',)
    script(src='')
    p.
      1. <b>aa</b>
      2. bb 
    ul
      li
        a(href='http://baidu.com')
    script.
      var a='hello';
